<div class="row">
    <h2 class="twelve columns"><%= _("Welcome to Field Papers") %></h2>
</div>

<div class="row cards">
  <div class="ten columns card standout-card offset-by-one">
    <div class="card-details">
      <h5 class="card-title"><%= _("Field Papers UI Community Survey") %></h5>
      <p><%= _("We're working on improving the user interface for making atlases in Field Papers.  To do that, we need your help!  We've changed the old 'wizard' interface for making atlases into a single page map-based view.  We think it looks good, but there are some things we're unsure about.  That's where you come in.  We'd like to ask you to do three things:") %></p>

      <ol>
        <li><%= _("Look at some mock-ups of the proposed layout of user interface elements on the new atlas composition page: ") %><a href="https://github.com/Cadasta/fieldpapers/wiki/Field-Papers-Menu-Mock-ups" target='_blank'><%= _("LINK HERE") %></a></li>
        <li><%= _("Experiment with three options for the atlas grid user interface: these are available under below: go to ") %><strong><%= _("Make yourself an atlas") %></strong></li>
        <li><%= _("Fill in a survey giving your opinions about the different options and any other comments you might have: ") %><a href="http://goo.gl/forms/4U3nSK1Nim" target='_blank'><%= _("LINK HERE") %></a></li>
      </ol>

      <br>
      <p class="card-desc"><strong><%= _("Thanks a lot for your help!") %></strong></p>
    </div>
  </div>
</div>
<div class="row cards">
    <div class="four columns card">
      <img class="card-image" src="<%= asset_path 'atlases-large.gif' %>" alt="<%= _("Hand-drawn graphic to represent making a Field Papers atlas") %>">
        <div class="card-details">
            <h5 class="card-title" data-no-turbolink="true"><%= _("Make yourself an atlas") %></h5>
            <p class="card-desc"><%= _("Print out anywhere in the world.") %></p>

            <p class="compose-option"><%= link_to _("Option #1"), compose1_path %></p>
            <p class="compose-option"><%= link_to _("Option #2"), compose2_path %></p>
            <p class="compose-option"><%= link_to _("Option #3"), compose3_path %></p>
            </ul>
        </div>
    </div>

    <div class="four columns card">
        <a class="card-image" data-no-turbolink="true" href="<%= compose_path %>"><img src="<%= asset_path 'field-large.gif' %>" alt="<%= _("Hand-drawn graphic representing a Field Papers atlas in the wild") %>"></a>
        <div class="card-details">
            <h5 class="card-title" data-no-turbolink="true"><%= link_to _("Take it into the field"), compose_path %></h5>
            <p class="card-desc"><%= _("Make your notes and observations.") %></p>
        </div>
    </div>

    <div class="four columns card">
        <a class="card-image" href="<%= new_snapshot_path %>"><img src="<%= asset_path 'snapshots-large.gif' %>" alt="<%= _("Hand-drawn graphic representing photographing a page in a Field Papers atlas") %>"></a>
        <div class="card-details">
            <h5 class="card-title"><%= link_to _("Capture your notes"), new_snapshot_path %></a></h5>
            <p class="card-desc"><%= _("%{Upload} pages you've photographed.") % {Upload: content_tag(:b, link_to(_("Upload"), new_snapshot_path)) } %></p>
        </div>
    </div>
</div>
